# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Environment variables
.env

# Virtual environments
venv/
vert/
env/
.venv/

# IDEs and editors
.vscode/
.idea/
*.swp

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Django migrations
*/migrations/*.py
!*/migrations/__init__.py